/* Frame 4700 */


/* Auto layout */

.root {
    padding-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 32px 112px 112px; */

    position: center;

    /* Greys/00 */

    background: #FFFFFF;
    border-radius: 32px;

    /* fonts */
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    /* or 141% */

    column-gap: 1.5rem;
    row-gap: 0;
    margin-right: 10px;
    margin-left: 10px;
}

.photos {
    display: flex;
    flex-direction: row;
}

img {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.me {
    width: 260px;
    height: 260px;
}

.activity {
    width: 150px;
    height: 150px;
    margin-top: 150px;
}

.paragraphs {
    text-align: left;
    max-width: 700px;
}

.social-icon {
    font-size: 20px;
    color: black;
    margin-left: 10px;
}

.highlight {
    background: linear-gradient(120deg,#e9d7dd,#e9d7dd);
    background-position: 0 60%;
    background-repeat: no-repeat;
    background-size: 100% 50%;
}

.right-align {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #484848;
}

.right-align:hover {
    color: black;
}